attributeCheckbox
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
}
h2 {
    font-size: 1.3em;
}
h3 {
    font-size: 1.2em;
}

/* Style the header */
header {
  background-color: #CBC9A8;
  padding: 10px;
  text-align: center;
}
.white {
  color: white;
}
.margin-10 {
    margin-top: 10px;
}
.margin-20 {
    margin-top: 20px;
}
.menu {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}

fieldset {
    font-family: inherit;
    border-radius: 4px;
    padding: 32px;
}

fieldset legend {
    font-size: .75em;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(17,17,19,.5);
    padding: 0 1rem;
    margin-left: -1rem;
    top: 2px;
    position: relative;
    line-height: 0;
}

fieldset, form {
    margin-bottom: 16px;
}

fieldset, figure pre {
    border: 1px solid rgba(17,17,19,.1);
}

article {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 300px;
  padding-right: 300px;
  background-color: #ffffff;
  width:100%;
  min-height: 700px;
/*  height: 800px;*/
}
.notebook {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #f1f1f1;
  width:100%;
  height: 800px;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.foxden-center {
  padding-top: 10px;
  padding-left: 20px;
  text-align: center;
  background-color: #f1f1f1;
  width:100%;
  height: 800px;
}

/* Style the footer */
footer {
  background-color: #D6D6D6;
  text-align: center;
  color: white;
  min-height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.huge {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.large {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.upper {
    text-transform: uppercase;
    color: rgba(17,17,19,.5);
}

.record {
    padding: 30px;
}
.width-100 {
    display: inline-block;
    width: 100px;
}
.width-200 {
    display: inline-block;
    width: 200px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

.hide {
    display: none;
}
.show {
    display: block;
/*    margin-top:6px;*/
/*    border-top-width:1px;*/
}
.show_inline {
    display: inline;
/*    color: black;*/
/*    background-color: white;*/
}

.submenu {
    background-color: lightgrey;
    margin-left: 5px;
}
.message {
    width: 600px;
}
.s3-record {
    font-family: Courier, monospace;
    font-size: 18px;
}
.min-height {
    min-height: 600px;
}

/*
 * Google map settings 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
    height: 600px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}

/*
 * overwrite superkube
 */
.sidebar {
    background-color: #EBEBEB;
}
.button-foxden {
    --button-background-color: #197B7E;
}
.round {
    padding: 10px;
    border: 1px dashed grey;
    border-radius: 5px;
}

.center {
    text-align: center;
}

.srv-advance {
    background-color: #F4BD8A;
}

.srv-fair {
    background-color: #F4E1D0;
}
/*.sort-container {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.sort-container {
    position: relative; /* Ensures the child element is positioned relative to this container */
    height: 30px; /* Example height */
}

.dropdown {
    position: absolute;
    height: 30px;
    background-color: grey;
    color: white;
    bottom: 0; /* Aligns the drop-down menu to the bottom of the container */
}

#popupMenu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
    z-index: 10;
    width: 90%; /* Width of the pop-up window */
    height: 80%; /* Height of the pop-up window */
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}
#gearIcon {
    float: right;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}

#scrollableTable {
    width: 100%;
    height: 80%;
    overflow: auto; /* Enable scrolling if content overflows */
}

#checkboxTable {
    width: 100%; /* Ensure the table takes up full width */
    border-collapse: collapse;
}

#checkboxTable td {
    padding: 5px;
}
.attributeCheckbox {
}
