<section>
  <article id="article">
<div class="center huge">
     FOXDEN: Data Analysis service
</div>

<br/>
      <h1>Data Analysis page</h1>
      This page should contain content about data analysis or lead to data analysis service
  </article>
</section>

