<section>
  <article id="article">
<div class="center huge">
     FOXDEN: Data Management service
</div>

<br/>
      <h3>Data Management GET APIs</h3>
      This set of APIs is designed to get specific content in provenance database
      <ul>
          <li>
              <span class="api">/data</span> get the data
          </li>
          <li>
              <span class="api">/files</span> get files
          </li>
          <li>
              <span class="api">/storage</span> get information about the storage
          </li>
          <li>
              <span class="api">/storage/:dir/:file</span> get information about specific file within storage directory
          </li>
      </ul>
      <h3>Data Management POST APIs</h3>
      This set of APIs is designed to update specific content in data management system
      <ul>
          <li>
              <span class="api">/storage/:dir</span> update directory
          </li>
          <li>
              <span class="api">/storage/:dir/:file</span> update file within directory
          </li>
      </ul>
      <h3>Data Management DELETE APIs</h3>
      This set of APIs is designed to delete specific content in data management
      <ul>
          <li>
              <span class="api">/storage/:dir</span> deletes given directory
          </li>
          <li>
              <span class="api">/storage/:dir/:file</span> deletes file within directory
          </li>
      </ul>
  </article>
</section>
