<div class="grid">
    <div class="column column-10">
      <span class="prov-link"><b>{{.did}}</b></span>
    </div>
    <div class="column column-1">
      <a href="/record?did={{.did}}" class="button button-small button-dark-foxden">Metadata</a>
    </div>
    <div class="column column-1">
      <a href="/provenance?did={{.did}}" class="button button-small button-light-foxden">Provenance</a>
    </div>
</div>
