
<footer>
    <div class="grid">
        <div class="column column-2">
        </div>
        <div class="column column-1">
            <img src="{{.Base}}/images/nsf_logo.png" alt="NSF" width="30">
        </div>
        <div class="column column-7">
            Copyright &#169;
            <a href="https://www.classe.cornell.edu/Research/CHESS/WebHome.html">
                Cornell High Energy Synchrotron Source (CHESS)
            </a>
        </div>
        <div class="column column-2">
        </div>
    </div>
</footer>

</body>
</html>
