<footer id="footer">
    <div class="grid">
        <div class="column column-2">
        </div>
        <div class="column column-1">
            <img src="{{.Base}}/images/cornell_logo.png" alt="NSF" style="width:60px;padding-top:20px;">
        </div>
        <div class="column column-6">
            <br/>
            <a href="https://www.chess.cornell.edu/" class="button button-small">
                CHESS
            </a>
            &nbsp; | &nbsp;
            <a href="https://www.chess.cornell.edu/facilities" class="button button-small">
                Beamlines
            </a>
            &nbsp; | &nbsp;
            <a href="https://www.chess.cornell.edu/about/publications" class="button button-small">
                Publications
            </a>
        </div>
        <div class="column column-1">
            <img src="{{.Base}}/images/nsf_logo.png" alt="NSF" style="width:60px;padding-top:20px;">
        </div>
        <div class="column column-2">
        </div>
    </div>
</footer>

<!--
<script>
    ChangeHeight('article');
</script>
-->

</body>
</html>
