<section>
    <article>

<div class="centered huge">
     FOXDEN: FAIR Open-Science Extensible Data Exchange Network
</div>

<br/>

<h1>Advanced Services</h1>
<div class="grid">
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image">
            <a href="{{.Base}}/docs/aiml.md" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_210692.png" alt="Analysis I" style="width:100px;">
            </a>
        </div>
        <div class="card-box">
            <b>AI/ML service:</b>
            is a data management system specifically designed for AI/ML models.
            It consists of three main subcomponents: an engine that
            trains AI/ML models based on training datasets retrieved by the
            core services, a repository for storing those trained models, and
            an inference engine that delivers predictions from the stored
            models.
        </div>
    </div>
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image">
            <a href="{{.Base}}/docs/vis.md" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_545187.png" alt="Analysis I" style="width:100px;">
            </a>
        </div>
        <div class="card-box">
            <b>Data Visualization service:</b>
            is based on OpenViSUS technology.
            It is designed to provide progressive random access for very large
            datasets by optimally exploiting the existing caching hardware in
            modern architectures
        </div>
    </div>
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image">
            <a href="{{.Base}}/docs/notebook.md" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_428261.png" alt="Analysis I" style="width:100px;">
            </a>
        </div>
        <div class="card-box">
            <b>Notebook service:</b>
            Designed for novice programmers, this service simplifies data
            analysis by giving users a Jupyter-like interface for writing code
            modules that are inserted into pre-defined workflows. These modules
            are also deposited in a code repository for future dissemination.
        </div>
    </div>
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image">
            <a href="{{.Base}}/docs/analysis.md" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_513463.png" alt="Analysis I" style="width:100px;">
            </a>
        </div>
        <div class="card-box">
            <b>Data Analysis service:</b>
            This service works in conjunction with the Notebook Service to
            provide an interface to the X-ray Imaging of Microstructures
            Gateway (XIMG), which is an instance of the Galaxy science
            gateway developed to preserve and enable reuse of data
            analysis workflows for materials science.
        </div>
    </div>
</div>

<hr/>

        <h1>FAIR Foundational Services</h1>
<div class="grid">
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image">
            <a href="{{.Base}}/docs/datamgt.md" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_322048.png" alt="Analysis I" style="width:100px;">
            </a>
        </div>
        <div class="card-box">
            <b>Data Management service:</b>
            This basic service ensures the availability of raw and derived
            datasets by controlling data access and transporting data through
            its lifecycle, from upload and storage to archival and retrieval.
        </div>
    </div>
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image">
            <a href="{{.Base}}/docs/discovery.md" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_355933.png" alt="Analysis I" style="width:100px;">
            </a>
        </div>
        <div class="card-box">
            <b>Data Discovery service:</b>
            This service partners with the Data Management Service to track the
            physical location of logical datasets as they move among sites in
            the federated backend storage system.
        </div>
    </div>
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image">
            <a href="{{.Base}}/docs/metadata.md" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_412723.png" alt="Analysis I" style="width:100px;">
            </a>
        </div>
        <div class="card-box">
            <b>Meta Data service:</b>
            This component allows users to document the origin, collection
            methods, and other critical parameters about their raw and derived
            datasets. Metadata is critical to making published data products
            findable and interpretable.
        </div>
    </div>
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image">
            <a href="{{.Base}}/docs/provenance.md" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_418567.png" alt="Analysis I" style="width:100px;">
            </a>
        </div>
        <div class="card-box">
            <b>Provenance service:</b>
            As a dataset moves through its lifecycle, this service
            automatically documents its lineage, recording its transformations
            and its relationships to other data prod- ucts. This provenance
            ensures the reproducibility of scientific results.
        </div>
    </div>
</div>

</article>
</section>
