<div class="grid">
    <div class="column column-7">
		<b class="is-logo">
		Showing {{.StartIndex}}&#8212;{{.EndIndex}} records out of {{.Total}}.
		</b>
    </div>
    <div class="column column-5">
        <a href="{{.FirstUrl}}" class="button button-small">first</a>
        <a href="{{.PrevUrl}}"  class="button button-small">prev</a>
        <a href="{{.NextUrl}}"  class="button button-small">next</a>
        <a href="{{.LastUrl}}"  class="button button-small">last</a>
    </div>
</div>
