<section>
    <article id="article">
<h3>DID: {{.Did}}</h3>
<br/>
<h3>Parent DIDs</h3>
<br/>
<div id="parents-{{.Did}}">
{{.Parents}}
</div>

<br/>
<h3>Children DIDs</h3>
<br/>
<div id="child-{{.Did}}">
{{.Children}}
</div>

<br/>
<h3>OS info</h3>
<br/>
<pre id="osinfo-{{.Did}}">
{{.osinfo}}
</pre>

<br/>
<h3>Environments</h3>
<br/>
<pre id="env-{{.Did}}">
{{.environments}}
</pre>

<br/>
<h3>Packages</h3>
<br/>
<pre id="pkg-{{.Did}}">
{{.packages}}
</pre>

<br/>
<h3>Scripts</h3>
<br/>
<pre id="script-{{.Did}}">
{{.scripts}}
</pre>

<br/>
<h3>Dataset input files</h3>
<br/>
<pre id="ifiles-{{.Did}}">
{{.InputFiles}}
</pre>

<br/>
<h3>Dataset output files</h3>
<br/>
<pre id="ofiles-{{.Did}}">
{{.OutputFiles}}
</pre>

<hr />

<h3>Download links:</h3>
<br/>
<a href="javascript:SaveRecord('provenance-{{.Did}}')" class="button button-small">Provenance record</a>
<a href="javascript:SaveRecord('ifiles-{{.Did}}')" class="button button-small">Input files</a>
<a href="javascript:SaveRecord('ofiles-{{.Did}}')" class="button button-small">Output files</a>
<pre id='provenance-{{.Did}}' class="hide">
{{.Provenance}}
</pre>


    </article>
</section>
