<section>
  <article id="article">
<div class="center huge">
     FOXDEN: Publish dataset
</div>


<form action="{{.Base}}/publish" method="post" name="did_publish" id="did_publish" class="form">
    <div class="form-item">
        <label>Dataset</label>
        <input class="input" type="text" value="{{.Did}}" id="did" name="did">
        <input class="input" type="hidden" value="{{.Schema}}" id="schema" name="schema">
    </div>
    <div class="form-item">
        <label>Publication Service</label>
        <select class="input" id="doiprovider" name="doiprovider">
            <option value="DataCite">DataCite</option>
            <option value="MaterialsCommons">MaterialsCommons</option>
            <option value="Zenodo">Zenodo</option>
        </select>
    </div>
    <div class="form-item alert alert-info">
        <input type="checkbox" checked="checked" id="draft" name="draft">
        <span>Create draft DOI</span>
        &nbsp; | &nbsp;
        <input type="checkbox" checked="" id="publishmetadata" name="publishmetadata">
        <span>Publish meta-data</span>
{{if .Parents}}
        <h3>Parent Datasets</h3>
        <label>
            <input type="checkbox" id="select-all" onclick="toggleAll(this)">
            <strong>Select All</strong>
        </label>
        <ul class="parent-list">
            {{range .Parents}}
            <li>
                <label>
                    <input type="checkbox" class="parent-checkbox" name="parents" value="{{.}}">
                    {{.}}
                </label>
            </li>
            {{end}}
        </ul>
{{else}}
    <p><em>No parents found for this dataset.</em></p>
{{end}}
    </div>
    <div class="form-item">
        <label>Dataset description</label>
        <textarea class="input" rows="3" id="description" name="description"></textarea>
    </div>
    <div class="form-item">
        <button class="button button-small button-dark">Publish</button>
        <button class="button button-small">Cancel</button>
    </div>
</form>

  </article>
</section>

<script>
function toggleAll(source) {
    const checkboxes = document.querySelectorAll('.parent-checkbox');
    for (const cb of checkboxes) {
        cb.checked = source.checked;
    }
}
</script>
