<hr />

<h3>DatasetID (DID): {{.Did}}</h3>
Schema: <b>{{.Schema}}</b>,
{{if .SpecScanLink}}
<a href="{{.SpecScanLink}}">SpecScan record(s)</a>,
{{end}}
{{if .UserMetaDataLink}}
<a href="{{.UserMetaDataLink}}">User metadata</a>,
{{end}}
{{if .GlobusLink}}
<a href="{{.GlobusLink}}">Globus link</a>,
{{end}}
{{if .RawDataLink}}
<a href="{{.RawDataLink}}">Raw data</a>,
{{end}}
{{if .ReducedDataLink}}
<a href="{{.ReducedDataLink}}">Reduced data</a>,
{{end}}
{{if .AuxDataLink}}
<a href="{{.AuxDataLink}}">Aux data</a>,
{{end}}
Date: {{.TimeStamp}}
{{if .RecordVersion}}
<span class="recVersion">version: {{.RecordVersion}}</span>
{{end}}
{{if .AttributesMap}}
<br/>
{{range $key, $value := .AttributesMap}}
   <b><em>{{$key}}:</em></b> {{$value}}
{{end}}
{{end}}
{{if and .DoiLink .Doi}}
    <br/>
    DOI: <a href="{{.DoiLink}}">{{.Doi}}</a>,
    {{if .DoiPublic}}
        <span class="doiPublic">(Public)</span>
    {{else}}
        <span class="doiDraft">(Draft)</span>
    {{end}}
{{end}}

<div class="record-actions">
<a href="javascript:FlipRecTable('{{.Id}}')" title="Record">Record</a>
<a href="javascript:FlipRecDesc('{{.Id}}')" title="Description">Description</a>
<a href="/provenance?did={{.DidEncoded}}" title="Provenance">Provenance</a>
<a href="/users?user={{.User}}" title="User" class="user-info-btn">User</a>
<a href="/amend?did={{.DidEncoded}}" title="Amend">Amend</a>
<a href="/notesform?did={{.DidEncoded}}" title="Notes">Notes</a>
<a href="javascript:FlipRecJson('{{.Id}}')" title="JSON">JSON</a>
<a href="javascript:SaveRecord('json-record-{{.Id}}')" title="Save">Save</a>

{{if and .DoiLink .Doi}}
    {{if not .DoiPublic}}
        <form class="record-actions-form" method="post" action="{{.Base}}/doipublic">
            <input type="hidden" name="did" value="{{.Did}}">
            <input type="hidden" name="doi" value="{{.Doi}}">
            <input type="hidden" name="doilink" value="{{.DoiLink}}">
            <input type="hidden" name="doiprovider" value="{{.DoiProvider}}">
            <input type="hidden" name="schema" value="{{.Schema}}">

            <button type="submit" class="action-btn action-grey" title="Publish DOI">
                Draft &#8658; Public
            </button>
        </form>
    {{else}}
        <span class="action-static action-red">
            Published DOI
        </span>
    {{end}}
{{else}}
    <form class="record-actions-form" method="post" action="{{.Base}}/publishform">
        <input type="hidden" name="did" value="{{.Did}}">
        <input type="hidden" name="schema" value="{{.Schema}}">
        <input type="hidden" name="mcprojectname" value="{{.MCProjectName}}">
        <input type="hidden" name="doiprovider" value="{{.DoiProvider}}">

        <button type="submit" class="action-btn action-green" title="Create DOI">
            Create DOI
        </button>
    </form>
{{end}}

</div>

<div id="table-record-{{.Id}}" class="hide">
    <pre>{{.RecordTable}}</pre>
</div>
<div id="desc-record-{{.Id}}" class="hide">
    <pre>{{.RecordDescription}}</pre>
</div>
<div id="json-record-{{.Id}}" class="hide">
    <pre>{{.RecordJSON}}</pre>
</div>

<script>
function FlipRecTable(id) {
    HideTag('json-record-'+id);
    HideTag('desc-record-'+id);
    FlipTag('table-record-'+id);
}
function FlipRecJson(id) {
    HideTag('table-record-'+id);
    HideTag('desc-record-'+id);
    FlipTag('json-record-'+id);
}
function FlipRecDesc(id) {
    HideTag('json-record-'+id);
    HideTag('table-record-'+id);
    FlipTag('desc-record-'+id);
}
</script>
