<hr />

<h3>DatasetID (DID): {{.Did}}</h3>
Schema: {{.Schema}}, Cycle: {{.Cycle}}, Beamline: {{.Beamline}}, BTR: {{.Btr}}, Sample: {{.Sample}}
<div class="grid">
    <div class="column column-1">
        <a href="javascript:FlipRecTable('{{.Id}}')" class="button button-small">Record</a>
    </div>
    <div class="column column-1">
        <a href="javascript:FlipRecDesc('{{.Id}}')" class="button button-small">Description</a>
    </div>
    <div class="column column-1">
        <a href="javascript:FlipRecJson('{{.Id}}')" class="button button-small">JSON</a>
    </div>
    <div class="column column-1">
        <form class="form-content" method="post" action="{{.Base}}/prov">
            <input type="hidden" name="_id" value="{{.Id}}">
            <input type="hidden" name="did" value="{{.Did}}">
            <input type="hidden" name="User" value="{{.User}}"/>
            <button class="button button-small">Provenance</button>
        </form>
    </div>
    <div class="column column-1">
        <a href="javascript:SaveRecord('json-record-{{.Id}}')" class="button button-small">Save</a>
    </div>
    <div class="column column-7">
    </div>
</div>
<div id="table-record-{{.Id}}" class="hide">
    <pre>{{.RecordTable}}</pre>
</div>
<div id="desc-record-{{.Id}}" class="hide">
    <pre>{{.RecordDescription}}</pre>
</div>
<div id="json-record-{{.Id}}" class="hide">
    <pre>{{.RecordJSON}}</pre>
</div>

<script>
function FlipRecTable(id) {
    HideTag('json-record-'+id);
    HideTag('desc-record-'+id);
    FlipTag('table-record-'+id);
}
function FlipRecJson(id) {
    HideTag('table-record-'+id);
    HideTag('desc-record-'+id);
    FlipTag('json-record-'+id);
}
function FlipRecDesc(id) {
    HideTag('json-record-'+id);
    HideTag('table-record-'+id);
    FlipTag('desc-record-'+id);
}
</script>
