<section>
    <article id="article">

<div class="center huge">
     FAIR Open-Science Extensible Data Exchange Network
</div>

<br/>


<div class="large upper">FAIR Foundational Services</div>
<br/>

<div class="grid">
    <div class="column column-4 card shadow-150 bg-light radius-base">
        <div class="card-image center srv-fair">
            <a href="{{.Base}}/provenance" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_418567.png" alt="Analysis I" style="width:50px;">
            </a>
        </div>
        <div class="card-box">
            <b>Provenance:</b>
            data service provides APIs to manage your provenance data.
        </div>
    </div>
    <div class="column column-4 card shadow-150 bg-light radius-base">
        <div class="card-image center srv-fair">
            <a href="{{.Base}}/meta" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_412723.png" alt="Analysis I" style="width:50px;">
            </a>
        </div>
        <div class="card-box">
            <b>Meta Data:</b>
            data service provides APIs and web interface to manage your meta-data.
        </div>
    </div>
    <div class="column column-4 card shadow-150 bg-light radius-base">
        <div class="card-image center srv-fair">
            <a href="{{.Base}}/specscans" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_370732.png" alt="SpecScans" style="width:50px;">
            </a>
        </div>
        <div class="card-box">
            <b>Spec Scans:</b>
            data service manages CHESS spec scans data
        </div>
    </div>
    <div class="column column-4 card shadow-150 bg-light radius-base">
        <div class="card-image center srv-fair">
            <a href="{{.Base}}/data" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_322048.png" alt="Analysis I" style="width:50px;">
            </a>
        </div>
        <div class="card-box">
            <b>Data Management:</b>
            S3 complaint data management service for accessing raw and derived datasets.
        </div>
    </div>
    <div class="column column-4 card shadow-150 bg-light radius-base">
        <div class="card-image center srv-fair">
            <a href="{{.Base}}/search" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_355933.png" alt="Analysis I" style="width:50px;">
            </a>
        </div>
        <div class="card-box">
            <b>Data Discovery:</b>
            service allows you to search for meta and provenance data.
        </div>
    </div>
    <div class="column column-4 card shadow-150 bg-light radius-base">
        <div class="card-image center srv-fair">
            <a href="{{.Base}}/publish" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_519998.png" alt="Publication" style="width:50px;">
            </a>
        </div>
        <div class="card-box">
            <b>Publication:</b>
            service manages CHESS dataset publication and DOIs.
        </div>
    </div>
</div>

<hr/>
<div class="large upper">Advanced Services</div>
<br/>

<div class="grid">
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image center srv-advance">
            <a href="{{.Base}}/aiml" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_210692.png" alt="Analysis I" style="width:50px;">
            </a>
        </div>
        <div class="card-box">
            <b>AI/ML:</b>
            is a data service specifically designed for AI/ML models.
        </div>
    </div>
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image center srv-advance">
            <a href="{{.Base}}/visualization" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_545187.png" alt="Analysis I" style="width:50px;">
            </a>
        </div>
        <div class="card-box">
            <b>Data Visualization:</b>
            is data service for data visualization.
        </div>
    </div>
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image center srv-advance">
            <a href="{{.Base}}/notebook" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_428261.png" alt="Analysis I" style="width:50px;">
            </a>
        </div>
        <div class="card-box">
            <b>Notebook:</b>
            data service for novice programmers with Jupyter-like interface.
        </div>
    </div>
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image center srv-advance">
            <a href="{{.Base}}/analysis" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_513463.png" alt="Analysis I" style="width:50px;">
            </a>
        </div>
        <div class="card-box">
            <b>Data Analysis:</b>
            is a data service for working with CHESS datasets.
        </div>
    </div>
</div>

</article>
</section>
