<section>
    <article>

<div class="centered huge">
     FOXDEN: FAIR Open-Science Extensible Data Exchange Network
</div>

<br/>

<h1>Advanced Services</h1>
<div class="grid">
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image">
            <a href="{{.Base}}/docs/aiml.md" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_210692.png" alt="Analysis I" style="width:100px;">
            </a>
        </div>
        <div class="card-box">
            <b>AI/ML service:</b>
            is a data service specifically designed for AI/ML models.
        </div>
    </div>
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image">
            <a href="{{.Base}}/docs/vis.md" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_545187.png" alt="Analysis I" style="width:100px;">
            </a>
        </div>
        <div class="card-box">
            <b>Data Visualization service:</b>
            is data service for data visualization.
        </div>
    </div>
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image">
            <a href="{{.Base}}/docs/notebook.md" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_428261.png" alt="Analysis I" style="width:100px;">
            </a>
        </div>
        <div class="card-box">
            <b>Notebook service:</b>
            data service for novice programmers with Jupyter-like interface for writing code.
        </div>
    </div>
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image">
            <a href="{{.Base}}/docs/analysis.md" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_513463.png" alt="Analysis I" style="width:100px;">
            </a>
        </div>
        <div class="card-box">
            <b>Data Analysis service:</b>
            This service works in conjunction with the Notebook Service to
            provide an interface to the X-ray Imaging of Microstructures
            Gateway (XIMG).
        </div>
    </div>
</div>

<hr/>

        <h1>FAIR Foundational Services</h1>
<div class="grid">
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image">
            <a href="{{.Base}}/docs/datamgt.md" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_322048.png" alt="Analysis I" style="width:100px;">
            </a>
        </div>
        <div class="card-box">
            <b>Data Management service:</b>
            S3 complaint data management service for accessing raw and derived datasets.
        </div>
    </div>
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image">
            <a href="{{.Base}}/docs/discovery.md" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_355933.png" alt="Analysis I" style="width:100px;">
            </a>
        </div>
        <div class="card-box">
            <b>Data Discovery service:</b>
            allows you to search for meta and provenance data.
        </div>
    </div>
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image">
            <a href="{{.Base}}/docs/provenance.md" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_418567.png" alt="Analysis I" style="width:100px;">
            </a>
        </div>
        <div class="card-box">
            <b>Provenance service:</b>
            provides APIs to manage your provenance data.
        </div>
    </div>
    <div class="column column-3 card shadow-150 bg-light radius-base">
        <div class="card-image">
            <a href="{{.Base}}/docs/metadata.md" class="menu-link">
            <img src="https://cdn.onlinewebfonts.com/svg/img_412723.png" alt="Analysis I" style="width:100px;">
            </a>
        </div>
        <div class="card-box">
            <b>Meta Data service:</b>
            provides APIs and web interface to manage your meta-data.
        </div>
    </div>
</div>

</article>
</section>
