<section>
  <article id="article">
<div class="center huge">
     FOXDEN: SpecScans service
</div>

<br/>
      This page should contain content about SpecScans service or its APIs
      <h3>SpecScans POST APIs</h3>
      <ul>
          <li>
              <span class="api">/add</span> add new spec scans record
          </li>
          <li>
              <span class="api">/search</span> search for spec scans record
          </li>
      </ul>
      <h3>SpecScans PUT APIs</h3>
      <ul>
          <li>
              <span class="api">/edit</span> update spec scans record
          </li>
      </ul>
  </article>
</section>
