<section>
  <article id="article">
<div class="center huge">
     FOXDEN: SpecScans service
</div>

<br/>
      This page should contain content about SpecScans service or its APIs
  </article>
</section>
