<section>
  <article id="article">
<div class="center huge">
     FOXDEN: synchronizataion request form
</div>

<br/>

<form action="{{.Base}}/sync" method="post" name="sync" id="sync" class="form">
  <fieldset id="User">
  <legend>User</legend>
    <div class="form-item">
        <label>User</label>
        <input class="input" type="text" name="user" value="{{.User}}" readonly>
    </div>
  </fieldset>
  <fieldset id="FoxdenSource">
  <legend>FOXDEN source</legend>
    <div class="form-item">
        <label>Source FOXDEN URL<span class="hint hint-req">*</span></label>
        <input class="input" type="text" name="sourceUrl" value="{{.SourceUrl}}" readonly>
    </div>
    <div class="form-item">
        <label>Token<span class="hint hint-req">*</span></label>
        <input class="input" type="text" name="sourceToken" value="{{.SourceToken}}" readonly>
    </div>
  </fieldset>
  <fieldset id="FoxdenTarget">
  <legend>FOXDEN target</legend>
    <div class="form-item">
        <label>Target FOXDEN URL<span class="hint hint-req">*</span></label>
        <input class="input" type="text" name="targetUrl" placeholder="target URL">
    </div>
    <div class="form-item">
        <label>Token<span class="hint hint-req">*</span></label>
        <input class="input" type="text" name="targetToken" placeholder="{{.TargetToken}}">
    </div>
  </fieldset>
  <fieldset id="FoxdenAction">
  <legend>Synchronizataion actions</legend>
    <div class="form-item">
        <input type="checkbox" id="pushAction" name="pushAction">
        <span>Push records</span>
        &nbsp; | &nbsp;
        <input type="checkbox" id="pullAction" name="pullAction">
        <span>Pull records</span>
    </div>
  </fieldset>
    <div class="form-item alert alert-info">
        <input type="checkbox" checked="" id="publishmetadata" name="publishmetadata">
        <span>BTRs</span>
{{if .Btrs}}
        <label>
            <input type="checkbox" id="select-all" onclick="toggleAll(this)">
            <strong>Select All</strong>
        </label>
        <ul class="btr-list">
            {{range .Btrs}}
            <li>
                <label>
                    <input type="checkbox" class="btr-checkbox" name="btrs" value="{{.}}">
                    {{.}}
                </label>
            </li>
            {{end}}
        </ul>
{{else}}
    <p><em>No BTRs is provided, will use all DIDs associated with this user</em></p>
{{end}}
    </div>
    <div class="form-item">
        <button class="button button-small button-dark">Submit</button>
        <button class="button button-small">Cancel</button>
    </div>
</form>

  </article>
</section>

<script>
function toggleAll(source) {
    const checkboxes = document.querySelectorAll('.btr-checkbox');
    for (const cb of checkboxes) {
        cb.checked = source.checked;
    }
}
</script>
