<section>
    <article id="article">

    <div class="grid">
        <div class="column column-12">
            <div><b>SCHEMA:</b> {{.Schema}}</div>
            <div class="{{.Class}}">STATUS: {{.Status}}</div>
            <div>{{.Message}}</div>
            <div class="">
                <h3>MetaData server response record</h3>
                <br/>
                <a href="javascript:FlipTag('response_record');ToggleButton('i1')" id='i1' class="button is-secondary is-small is-gray">Show</a>
                <pre id="response_record" class="hide">{{.ResponseRecord}}</pre>
            </div>
            <hr/>
            {{if .JsonRecord }}
            <div class="">
                <h3>MetaData JSON record</h3>
                <br/>
                <a href="javascript:FlipTag('json_record');ToggleButton(this)" class="button is-secondary is-small is-gray">Show</a>
                <a href="javascript:SaveRecord()" class="button is-secondary is-small">Save</a>
                <pre id="json_record" class="hide">{{.JsonRecord}}</pre>
            </div>
            {{end}}
        </div>
    </div>


    </article>
</section>
